@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&family=Poppins:wght@300;400;700&family=Roboto:wght@700&display=swap");
@use 'sass:math';
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*="_icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"]::before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
  color: #fff;
}

._icon-google:before {
  content: "\e901";
  color: #fff;
}

._icon-pinterest:before {
  content: "\e902";
  color: #fff;
}

._icon-twitter:before {
  content: "\e903";
  color: #fff;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
}

body {
  font-size: 0.9375rem;
  color: #888888;
  font-family: "Poppins", sans-serif;
}

button {
  border: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*="container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1199.98px) {
  [class*="container"] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*="container"] {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  [class*="container"] {
    max-width: none;
  }
}

.container-fluid {
  max-width: 1841px;
}

.title {
  color: #000;
  font-weight: 500;
  font-family: 'Cormorant Garamond', serif;
}

@media (max-width: 767px) {
  .title {
    font-size: calc(30px + 25.5 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 767px) {
  .title {
    font-size: calc(30px + 15 * (100vw  / 1600));
  }
}

.text {
  padding-top: 1rem;
  padding-bottom: 2.6875rem;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 2;
}

.com-btn {
  display: flex;
  justify-content: flex-end;
}

.com-btn__link {
  position: relative;
  color: #0a0a0a;
  background: #82f4d3;
  padding: 0.75rem 1.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: capitalize;
}

.com-btn__link:hover::after {
  top: 0;
  left: 0;
  transition: all 1s ease-out;
}

.com-btn__link::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.625rem;
  left: -0.625rem;
  border: 0.125rem solid #82f4d3;
  transition: all 1s ease-out;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.top-bar {
  padding: 3.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-hamb {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 50%;
  width: 3.4375rem;
  height: 3.4375rem;
  z-index: 100;
}

.menu-circle {
  display: flex;
}

.menu-circle span {
  margin-right: 1.125rem;
  height: 0.8125rem;
  width: 0.8125rem;
  border: 0.1875rem solid #000000;
  border-radius: 50%;
}

.menu {
  display: none;
}

.menu_show {
  display: block;
}

.menu__link {
  color: white;
  font-size: 2.1875rem;
}

.icon-menu {
  display: block;
  position: relative;
  flex: 0 0 1.125rem;
  height: 0.9375rem;
  background: 0;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transform: all 0.3s ease 0s;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background: white;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 1px);
}

.menu-open .icon-menu span {
  transform: scale(0);
}

.menu-open .icon-menu::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.menu-open .icon-menu::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.open {
  display: flex;
  flex-direction: column;
  background: #82f4d3;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.intro {
  background-image: url(../img/header/bg-intro.jpg);
  background-position: center;
  background-size: cover;
  min-height: 63.75rem;
  position: relative;
}

.intro__content {
  position: relative;
  padding-top: 13.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro__title {
  color: #202123;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 767px) {
  .intro__title {
    font-size: calc(100px + 85 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 767px) {
  .intro__title {
    font-size: calc(100px + 50 * (100vw  / 1600));
  }
}

.intro__link {
  position: relative;
  color: #323237;
  background: #82f4d3;
  padding: 1.25rem 1.5625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

@media (max-width: 767px) {
  .intro__link {
    font-size: calc(13px + 20.4 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 767px) {
  .intro__link {
    font-size: calc(13px + 12 * (100vw  / 1600));
  }
}

.intro__link:hover::after {
  top: 0;
  left: 0;
  transition: all 1s ease-out;
}

.intro__link::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0.625rem;
  left: -0.625rem;
  border: 0.125rem solid #82f4d3;
  transition: all 1s ease-out;
}

.social {
  position: absolute;
  right: 3.625rem;
  bottom: 3.125rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}

.social__item {
  width: 3.4375rem;
  height: 3.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

.social__item:hover {
  background: white;
}

.social__item:hover::before {
  color: #82f4d3;
}

.text-left {
  position: absolute;
  left: 3.625rem;
  bottom: 3.125rem;
  height: 20.9375rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

@media (max-width: 767px) {
  .text-left {
    font-size: calc(12px + 5.1 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 767px) {
  .text-left {
    font-size: calc(12px + 3 * (100vw  / 1600));
  }
}

.nike-air {
  padding: 5.9375rem 0;
}

.nike-air__inner {
  display: flex;
  align-items: center;
}

.nike-air__picture {
  background-color: white;
  padding: 0.4375rem;
  opacity: 0.72;
  box-shadow: 0px 5px 19px 1px #dfdcdc;
  cursor: pointer;
}

.nike-air__picture:hover {
  box-shadow: none;
}

.nike-air__content {
  margin-left: -3.1875rem;
  position: relative;
}

.popular-card {
  margin-top: 3.1875rem;
  display: flex;
  justify-content: space-between;
  column-gap: 3.3125rem;
}

.popular-card__picture {
  margin-bottom: 3.875rem;
  position: relative;
}

.popular-card__picture:hover .popular-card__view-details {
  opacity: 1;
  background-color: rgba(130, 244, 211, 0.8);
  width: 100%;
  height: 100%;
}

.popular-card__view-details {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0.0625rem solid white;
  padding: 0.625rem 0.625rem;
}

.popular-card__name-text {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.popular-card__title {
  color: #000;
  font-weight: 400;
}

.popular-card__tex {
  color: #bbb;
  font-weight: 400;
}

.popular-card__price {
  color: #999;
  font-size: 1.5625rem;
  font-weight: 400;
}

.pre-fall-collections {
  padding: 5.9375rem 0;
  margin-bottom: 6.25rem;
}

.pre-fall-collections__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pre-fall-collections__content {
  width: 50%;
}

.pre-fall-collections__btn {
  justify-content: start;
}

.pre-fall-collections__picture {
  opacity: 0.72;
  cursor: pointer;
  position: relative;
}

.pre-fall-collections__picture::after {
  content: "";
  background-image: linear-gradient(114deg, #65e0bc 0%, #c9f9eb 100%);
  opacity: 0.72;
  position: absolute;
  right: -6.4375rem;
  bottom: -6.4375rem;
  width: 18.3125rem;
  height: 24.25rem;
}

.pre-fall-collections__picture img {
  position: relative;
  z-index: 22;
  padding: 0.4375rem;
  box-shadow: 0px 5px 19px 1px #dfdcdc;
  background-color: white;
}

.reviews {
  background: #f8f8f8;
  padding: 6.25rem 0;
}

.reviews-carous button {
  font-size: 0;
}

.reviews-carous .slick-prev::before {
  content: "↼";
  width: 0.625rem;
  height: 0.625rem;
}

.reviews-carous__item {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews-carous__text {
  width: 74%;
  text-align: center;
}

.reviews-carous__name {
  color: #666;
  font-size: 1.125rem;
  font-weight: 400;
}

.reviews-carous__education {
  color: #82f4d3;
  font-size: 0.9375rem;
  font-size: 0.9375rem;
}

.blog {
  padding: 6.875rem 0;
}

.blog__title {
  text-align: center;
}

.blog__inner {
  display: flex !important;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.875rem;
  padding-top: 5.5rem;
}

.blog__picture {
  margin-left: 3.125rem;
  margin-bottom: 9.0625rem;
  position: relative;
  cursor: pointer;
}

.blog__picture img {
  position: relative;
  z-index: 22;
  padding: 0.4375rem;
  box-shadow: 0px 5px 19px 1px #dfdcdc;
  background-color: #fff;
}

.blog__picture::before {
  content: "";
  width: 17.6875rem;
  height: 23.0625rem;
  position: absolute;
  top: -3.125rem;
  left: -3.125rem;
  border: 0.5625rem solid #f9f9f9;
  border-radius: 0.375rem;
}

.blog__picture::after {
  content: "";
  background-image: linear-gradient(114deg, #65e0bc 0%, #c9f9eb 100%);
  opacity: 0.72;
  position: absolute;
  right: -9.5625rem;
  bottom: -9.0625rem;
  width: 18.3125rem;
  height: 24.25rem;
}

.blog__content {
  width: 50%;
}

.blog__subtitle {
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
}

.blog .slick-dots {
  position: absolute;
  bottom: 6.3125rem;
  right: 19.5625rem;
  width: auto;
  display: flex;
  column-gap: 1.25rem;
}

.blog .slick-dots li {
  position: relative;
}

.blog .slick-dots li button {
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.blog .slick-dots li button::before {
  content: "";
  opacity: .75;
  background: black;
  width: 0.875rem;
  height: 0.9375rem;
  position: absolute;
  border-radius: 0.625rem;
}

.blog-carous .slick-arrow {
  position: absolute;
  bottom: 5.4375rem;
  right: 0;
  outline: none;
  background: transparent;
  font-size: 0;
}

.blog-carous .slick-arrow::before {
  content: "⌜";
  font-size: 2.25rem;
}

.blog-carous .slick-prev {
  right: 3.75rem;
  transform: rotate(316deg);
}

.blog-carous .slick-next {
  right: 3.8125rem;
  transform: rotate(136deg);
}

.blog-carous .slick-dots li.slick-active button::before {
  content: "";
  opacity: .75;
  background-color: #82f4d3;
}

.footer {
  margin-top: 6.25rem;
}

.footer-menu {
  padding: 3.4375rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 0.125rem solid #f9f9f9;
  border-bottom: 0.125rem solid #f9f9f9;
}

.social-footer {
  display: flex;
  column-gap: 2.25rem;
}

.social-footer__item {
  cursor: pointer;
}

.social-footer__item::before {
  color: #bbb;
}

.social-footer__item:hover::before {
  color: #82f4d3;
}

.copyright {
  padding: 1.5625rem 0;
  display: flex;
  justify-content: space-between;
}

.copyright__item {
  color: #a6a5a5;
}

@media (max-width: 767px) {
  .copyright__item {
    font-size: calc(12px + 5.1 * ((100vw - 320px) / 1600));
  }
}

@media (min-width: 767px) {
  .copyright__item {
    font-size: calc(12px + 3 * (100vw  / 1600));
  }
}

.support__link {
  color: #888888;
}

.search-group__title {
  font-weight: 400;
}

.form {
  padding: 1.875rem 0;
}

.form__input {
  height: 2.9375rem;
  width: 19rem;
  padding-left: 1.875rem;
  border: 0;
  box-shadow: 0px 5px 23.75px 1.25px rgba(231, 231, 231, 0.75);
}

.form__input::placeholder {
  color: #dddddd;
}

.form__btn {
  background: #82f4d3;
  width: 9.125rem;
  height: 2.9375rem;
  box-shadow: 0px 5px 19px 1px #f2f1f1;
}

@media (max-width: 991.98px) {
  .nike-air__inner {
    flex-direction: column;
  }
  .nike-air__content {
    margin-left: 0;
    margin-top: 1.25rem;
  }
  .popular-card {
    gap: 1.875rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .search-social {
    margin-top: 2.5rem;
  }
}

@media (max-width: 768px) {
  .pre-fall-collections {
    padding: 0;
  }
  .pre-fall-collections__inner {
    flex-direction: column-reverse;
  }
  .pre-fall-collections__content {
    width: 67%;
    margin-top: 2.5rem;
  }
  .popular-card {
    padding-bottom: 3.125rem;
  }
  .blog__inner {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .blog__picture {
    margin-left: 0;
  }
  .blog__picture::before {
    display: none;
  }
  .blog__content {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .intro {
    min-height: 900px;
  }
  .top-bar {
    padding: 1.875rem 0;
  }
  .text-left {
    left: 0.9375rem;
  }
  .social {
    right: 0.9375rem;
    row-gap: 0.9375rem;
  }
  .pre-fall-collections__content {
    width: 100%;
  }
  .pre-fall-collections__picture::after {
    display: none;
  }
  .reviews {
    padding: 3.125rem 0;
  }
  .blog {
    padding: 3.125rem 0;
  }
  .blog__inner {
    padding-top: 3.125rem;
  }
  .blog__picture {
    margin-bottom: 3.125rem;
  }
  .blog__picture::after {
    display: none;
  }
  .footer {
    margin-top: 3.125rem;
  }
}

@media (max-width: 500px) {
  .intro {
    min-height: 835px;
  }
  .footer-menu {
    flex-direction: column;
  }
  .menu_show {
    padding: 1.5625rem 0;
  }
  .form__input {
    width: 100%;
  }
  .form__btn {
    width: 100%;
  }
  .social-footer {
    justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */