.blog {
  padding: rem(110) 0;
  &__title {
    text-align: center;
  }
  &__inner {
    display: flex !important;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(30);
    padding-top: rem(88);
  }
  &__picture {
    margin-left: rem(50);
    margin-bottom: rem(145);
    position: relative;
    cursor: pointer;
    img {
      position: relative;
      z-index: 22;
      padding: rem(7);
      box-shadow: 0px 5px 19px 1px #dfdcdc;
      background-color: #fff;
    }
    &::before {
      content: "";
      width: rem(283);
      height: rem(369);

      position: absolute;
      top: rem(-50);
      left: rem(-50);
      border: rem(9) solid #f9f9f9;
      border-radius: rem(6);

    }
    &::after {
      content: "";
      background-image: linear-gradient(114deg, #65e0bc 0%, #c9f9eb 100%);
      opacity: 0.72;
      position: absolute;
      right: rem(-153);
      bottom: rem(-145);
      width: rem(293);
      height: rem(388);
    }
  }
  &__content {
    width: 50%;
  }
  &__subtitle {
    color: #000;
    font-size: rem(20);
    font-weight: 400;
  }
  .slick-dots {
    position: absolute;
    bottom: rem(101);
    right: rem(313);
    width: auto;
    display: flex;
    column-gap: rem(20);
    li {
      position: relative;
      button {
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        &::before {
          content: "";
          opacity: .75;
          background: black;
          width: rem(14);
          height: rem(15);
          position: absolute;
          border-radius: rem(10);
        }
      }
    }
  }

}
.blog-carous {
  .slick-arrow {
    position: absolute;
    bottom: rem(87);
    right: 0;
    outline: none;
    background: transparent;
    font-size: 0;
    &::before {
      content: "⌜";
      font-size: rem(36);
    }
  }
  .slick-prev {
    right: rem(60);
    transform: rotate(316deg);
    
  }
  .slick-next {
    right: rem(61);
    transform: rotate(136deg);
  }
  .slick-dots li.slick-active button::before {
    content: "";
    opacity: .75;
    background-color: $accentColor;
   
  }
}