.footer {
  margin-top: rem(100);

}
.footer-menu {
  padding: rem(55) 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: rem(2) solid #f9f9f9;
  border-bottom: rem(2) solid #f9f9f9;
}

.social-footer {
  display: flex;
  // justify-content: space-between;
  column-gap: rem(36);
  &__item {
    cursor: pointer;
    &::before {
      color: #bbb;     
    }
    &:hover::before {
      color: $accentColor;
    }
  }
}

.copyright {
  padding: rem(25) 0;
  display: flex;
  justify-content: space-between;
  &__item {
    color: #a6a5a5;
    @include adaptiv(15, 12);
  }
}
.support {
  &__link {
    color: $textColor;
  }
}
.search-group {
  &__title {
    font-weight: 400;
  }
}
.form {
  padding: rem(30) 0;
  &__input {
    height: rem(47);
    width: rem(304);
    padding-left: rem(30);
    border: 0;
    box-shadow: 0px 5px 23.75px 1.25px rgba(231, 231, 231, 0.75);
    &::placeholder {
      color: #dddddd;
    }
  }
  &__btn {
    background: $accentColor;
    width: rem(146);
    height: rem(47);
    box-shadow: 0px 5px 19px 1px rgba(242, 241, 241, 75%);
  }
}
