header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.top-bar {
  padding: rem(60) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-nav {
  display: flex;
  align-items: center;
}
.menu-hamb {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(0, 0, 0);
  border-radius: 50%;
  width: rem(55);
  height: rem(55);
  z-index: 100;
}
.menu-circle {
  display: flex;
  span {
    margin-right: rem(18);
    height: rem(13);
    width: rem(13);
    border: rem(3) solid #000000;
    border-radius: 50%;
  }
}
.menu {
  display: none;
  &_show {
    display: block;
    .menu__link{
      color: $textColor;
      font-size: rem(15);
    }
  }
}
// burger---------------------------------------//
.icon-menu {
  display: block;
  position: relative;
  flex: 0 0 rem(18);
  height: rem(15);
  background: 0;
  cursor: pointer;
  z-index: 5;
  span,
  &::before,
  &::after {
    content: "";
    transform: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: rem(2);
    background: $whiteColor;
  } 
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: calc(50% - 1px);
  }
  .menu-open & {
    span {
      transform: scale(0);
    }
    &::before {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }
    &::after {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
  }
}
.open {
  display: flex;
  flex-direction: column;
  background: $accentColor;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  .menu__link{
    color: $whiteColor;
    font-size: rem(35);
  }
}