//------------------------------- MAX-WIDTH 1700 ---------------------//
@media (max-width: 1700px) {
  
}
//------------------------------- MAX-WIDTH 1600 ---------------------//
@media (max-width: 1600px) {
  
}
//------------------------------- MAX-WIDTH 1570 ---------------------//
@media (max-width: 1570px) {
  
}
//------------------------------- MAX-WIDTH 1500 ---------------------//
@media (max-width: 1500px) { 
  
}
//------------------------------- MAX-WIDTH 1399.99 desktops ---------//
@media (max-width: 1399.99px) {
  
}
//------------------------------- MAX-WIDTH 1199.98 -----------------//
@media (max-width: 1199.98px) {
  
}
//------------------------------- MAX-WIDTH 990.98 tablets ----------//
@media (max-width: $tablet) {
  .nike-air {
    &__inner {
      flex-direction: column;
    }
    &__content {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  .popular-card {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .search-social {
    margin-top: 40px;
  }
} 
//------------------------------- MAX-WIDTH 885 ---------------------//
@media (max-width: 885px) {
  
}
//------------------------------- MAX-WIDTH 841 ---------------------//
@media (max-width: 842px) {
  
}
//------------------------------- MAX-WIDTH 767.98 landscape phones ---------------------//
@media (max-width: $mobile) {
  .pre-fall-collections {
    padding: 0;
    &__inner {
      flex-direction: column-reverse;
    }
    &__content {
      width: 67%;
      margin-top: 40px;
    }
  }
  .popular-card {
    padding-bottom: 50px;
  }
  .blog {
    &__inner {
      flex-direction: column;
      align-items: center;
      overflow: hidden;
    }
    &__picture {
      margin-left: 0;
      &::before {
        display: none;
      }
    }
    &__content {
      width: 100%;
    }
  }
}
@media (max-width: 646px) {
 
}
//------------------------------- MAX-WIDTH 575.98 portrait phones ---------------------//
@media (max-width: 575.98px) {
  .intro {
    min-height: 900px;
  }
  .top-bar {
    padding: 30px 0;
  }
  .text-left {
    left: 15px;
  }
  .social {
    right: 15px;
    row-gap: 15px;
  }
  .pre-fall-collections {
    &__content {
      width: 100%;
    }
    &__picture {
      &::after {
        display: none;
      }
    }
  }
  .reviews {
    padding: 50px 0;
  }
  .blog {
    padding: 50px 0;
    &__inner {
      padding-top: 50px;
    }
    &__picture {
      margin-bottom: 50px;
      &::after {
        display: none;
      }
    }
  }
  .footer {
    margin-top: 50px;
  }
}
//------------------------------- MAX-WIDTH 500 ---------------------//
@media (max-width: 500px) {
  .intro {
    min-height: 835px;
  }
  .footer-menu {
    flex-direction: column;
  }
  .menu_show {
    padding: 25px 0;
  }
  .form {
    &__input {
      width: 100%;
    }
    &__btn {
      width: 100%;
    }
  }
  .social-footer {
    justify-content: center;
  }
}
//------------------------------- MAX-WIDTH 418 ---------------------//
@media (max-width: 418px) {
  
}
