.popular-card {
  margin-top: rem(51);
  display: flex;
  justify-content: space-between;
  column-gap: rem(53);
  &__picture {
    margin-bottom: rem(62);
    position: relative;
    &:hover .popular-card__view-details {
      opacity: 1;
      background-color: rgba(130, 244, 211, .8);
      width: 100%;
      height: 100%;
    }
  }
  &__view-details {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $whiteColor;
    border: rem(1) solid $whiteColor;
    padding: rem(10) rem(10);
  }
  &__name-text {
    margin-bottom: rem(20);
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: #000;
    font-weight: 400;
  }
  &__tex {
    color: #bbb;
    font-weight: 400;
  }
  &__price {
    color: #999;
    font-size: rem(25);
    font-weight: 400;
  }
}
