.reviews {
  background: #f8f8f8;
  padding: rem(100) 0;
}
.reviews-carous {
  button {
    font-size: 0;
  }
  .slick-prev {
    &::before {
      content: "↼";
      width: rem(10);
      height: rem(10);
      
    }
  }
  &__item {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__text {
    width: 74%;
    text-align: center;
  }
  &__name {
    color: #666;
    font-size: rem(18);
    font-weight: 400;
  }
  &__education {
    color: $accentColor;
    font-size: rem(15);
    font-size: rem(15);
  }
}
